extends c

snippet forr "ranged for"
for (const auto &${1:value} : ${2:collection})
{
	${0:${VISUAL}}
}
endsnippet

snippet "MS?S?" "MSS_BEGIN() MSS_END()" r
MSS_BEGIN(${1:bool});
${0:${VISUAL}}
MSS_END();
endsnippet

snippet ca "const auto " w
const auto 
endsnippet

snippet un "using namespace " w
using namespace
endsnippet

